/*@font-face {
	font-family: "Northwell"; src: url("//db.onlinewebfonts.com/t/c81dc1b5eb54b6432d700b9b4f5f12c9.eot");
	src: url("//db.onlinewebfonts.com/t/c81dc1b5eb54b6432d700b9b4f5f12c9.eot?#iefix") format("embedded-opentype"),
	url("//db.onlinewebfonts.com/t/c81dc1b5eb54b6432d700b9b4f5f12c9.woff2") format("woff2"), 
	url("//db.onlinewebfonts.com/t/c81dc1b5eb54b6432d700b9b4f5f12c9.woff") format("woff"), 
	url("//db.onlinewebfonts.com/t/c81dc1b5eb54b6432d700b9b4f5f12c9.ttf") format("truetype"),
	url("//db.onlinewebfonts.com/t/c81dc1b5eb54b6432d700b9b4f5f12c9.svg#Northwell") format("svg"); 
}*/

.myButton {
	background-color: transparent;
	border-radius: 28px;
	border: 1px solid #9ededf;
	display: inline-block;
	cursor: pointer;
	color: #2f8e8f;
	font-family: Arial;
	font-size: 17px;
	padding: 16px 31px;
	text-decoration: none;
}

.myButton:hover {
	background-color: #9ededf;
	color: #fff;
}

.myButton:active {
	position: relative;
	top: 1px;
}

h1 {
  margin-top: 10px;
  font-family: 'Northwell', 'Shadows Into Light Two';
  font-size: 72px;
  text-align: center;
  color: #2f8e8f;
}