.myButton {
	background-color:transparent;
	border-radius:28px;
	border:1px solid #9ededf;
	display:inline-block;
	cursor:pointer;
	color:#2f8e8f;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}

.myButton:hover {
	background-color:#9ededf;
	color:#fff;
}

.myButton:active {
	position:relative;
	top:1px;
}