@font-face {  
	font-family: 'northwellregular';
    src: url(/assets/fonts/northwell-webfont.woff2) format('woff2'),
		 url(/assets/fonts/northwell-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
	margin-top: 10px;
	font-family: 'northwellregular', 'Shadows Into Light Two';
	font-size: 72px;
	text-align: center;
	color: #2f8e8f;
}

h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	text-align: center;
	color: #181818;
}

h3 {
	margin-top: 50px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 40px;
	text-align: center;
	color: #2f8e8f;
}

p {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	color: #181818;
	text-align: center;
}

.myButton {
	background-color: transparent;
	border-radius: 28px;
	border: 1px solid #9ededf;
	display: inline-block;
	cursor: pointer;
	color: #2f8e8f;
	font-family: Arial;
	font-size: 17px;
	padding: 16px 31px;
	text-decoration: none;
}

.myButton:hover {
	background-color: #9ededf;
	color: #fff;
}

.myButton:active {
	position: relative;
	top: 1px;
}

.small-6 {
	padding: 2rem;
}

.banner {
	margin-top: 2.5rem;
	margin-left: 25rem;
	margin-right: 25rem;
	margin-bottom: 5rem;
	height: 500px;
	overflow-x: hidden;
	overflow-y: hidden;
	background-size: cover;
	background-position: center;
}

.grid-x{
	background-color: #e6e6e6;
}

.aboutmepic{
	text-align: right;
	width: 100%;
}

.aboutmetitle{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 40px;
	text-align: left;
	color: #2f8e8f;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.aboutmetext{
	font-family: 'Lato', sans-serif;
	padding-right: 35rem;
	font-size: 15px;
	color: #181818;
	text-align: left;
	line-height: 28px;
}

.orbit-wrapper{
	padding-left: 25rem;
	padding-right: 25rem;
}

.orbit-next{
	margin-right: 25rem;
	background: #2f8e8f;
}

.orbit-previous{
	margin-left: 25rem;
	background: #2f8e8f;
}

.orbit-caption{
	font-family: 'Lato', sans-serif;
}

.orbit-image{
	height: 600px;
	width: 1200px;
	object-fit: scale-down;
}